<div class="login-wrapper" fxLayout="" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Apply For E-Pass</mat-card-title>
      </mat-card-header>
      <form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="UserModel.name" required>
          </mat-form-field>

          <mat-form-field class="example-full-width" >
            <mat-label>Gender</mat-label>
            <mat-select disableRipple name="gender" [(ngModel)]="UserModel.gender" required >
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile Number" name="number" [(ngModel)]="UserModel.number" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Aadhar Number" name="aadhar" [(ngModel)]="UserModel.aadhar" required>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <input matInput placeholder="E-Mail" name="email" id="email" [(ngModel)]="UserModel.email" required>
          </mat-form-field>  
  
          <mat-form-field class="example-full-width" >
            <mat-label>Category of Travellers</mat-label>
            <mat-select [(ngModel)]="UserModel.category" name="category" required>
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Present Address</mat-label>
            <textarea matInput name="present_address" [(ngModel)]="UserModel.present_address" required></textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Destination Address</mat-label>
            <textarea matInput name="destination_address" [(ngModel)]="UserModel.destination_address" required></textarea>
          </mat-form-field>  
       <!--   <div class="upload" required>
            <span>upload Photograph</span>
            <input
              #Image
              type="file"
              (change)="fileChanged($event)" 
              aria-describedby="fileHelpId"
              accept=".jpg,.svg,.png,.jpeg"
              name="profilePic" [(ngModel)]="UserModel.profilePic" required/>
          </div>-->
        </mat-card-content> 
        <br>
        
  
        <button mat-stroked-button color="accent" class="btn-block" [disabled]="userForm.form.invalid" (click)="generatePDF()" routerLink="../home">Register</button>
      </form>
    </mat-card>
  </div>
  {{userForm.value | json}}
  <hr>
  {{UserModel | json}}

